@using System.Configuration
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<style>
		body {
			font-family: 'Segoe UI';
		}
	</style>
</head>
<body ng-app="AzureADAngularSample">
<div>
	Hello @(Model.MVC == "" ? "Anonymous" : Model.MVC) from MVC

</div>
	<div>
		Hello @(Model.Service == "" ? "Anonymous" : Model.Service) from Service

	</div>


	<script type="text/ng-template" id="test">
		<h2>{{vm.title}}</h2>
		<button ng-click="vm.callService()">Test</button>
		<h3>Results</h3>
		<div ng-repeat="result in vm.results">
			{{result}}
		</div>
	</script>



	<test url="/servicetest" title="Calling Service"></test>

	<test url="@ConfigurationManager.AppSettings["ServiceUrl"]/ServiceTest" title="Calling External Service"></test>

	<test url="/doubleHopServiceTest" title="Double Hop Service"></test>




	<script>
		
		var endpoints = {
			"https://yourhost/api": "b6a68585-5287-45b2-ba82-383ba1f60932",
		};
	


		var adalConfigOptions = {
			instance: 'https://login.microsoftonline.com/',
			tenant: '@ConfigurationManager.AppSettings["ida:Tenant"]',
			clientId: '@ConfigurationManager.AppSettings["ida:ClientId"]',
			extraQueryParameter: 'nux=1',
			@*endPoints: {
				'@ConfigurationManager.AppSettings["SeviceUrl"]': '@ConfigurationManager.AppSettings["ServiceResourceId"]'
			}*@



			//cacheLocation: 'localStorage', // enable this for IE, as sessionStorage does not work for localhost.
		}
	</script>
	<script src="~/scripts/angular.min.js"> </script>
	<script src="~/scripts/adal.js"> </script>
	<script src="~/scripts/adal-angular.js"> </script>
	<script src="~/scripts/app.js"> </script>
</body>
</html>
